
services:
  web-api:
    build:
      context: .  # Contexto es la raíz donde están los proyectos
      dockerfile: Web.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Data Source=/app/data/pos.db
    volumes:
      - ./sqlite-data:/app/data

  web-front:
    build:
      context: .  # Contexto es la raíz donde están los proyectos
      dockerfile: Web.Front/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ApiBaseUrl=http://web-api:8080
    depends_on:
      - web-api